{% extends 'base.html' %}
{% block container %}


    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="well">
        <h3>Introducing Head-to-Head</h3>

        <p>Keep track of your past battles against your rivals with Head-to-Head. Just search for your player
            profile using the search field in the menu above.</p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <h2>{{ current_season }} Stats</h2>
            <table class="table">
                <tr>
                    <td>Total Divisions</td>
                    <td id="total_divs"></td>
                </tr>
                <tr>
                    <td>Total Players</td>
                    <td id="total_players"></td>
                </tr>
                <tr>
                    <td>Total Matches in Ladder</td>
                    <td id="total_matches"></td>
                </tr>
                <tr>
                    <td>Total Matches Played</td>
                    <td id="total_played"></td>
                </tr>
                <tr>
                    <td>Percentage Matches Played</td>
                    <td id="perc_played"></td>
                </tr>

                <tr>
                    <td><h2>System Stats</h2></td>
                </tr>

                <tr>
                    <td>Total Years</td>
                    <td>{{ at_years }} <i>{{ at_years_str }}</i></td>
                </tr>
                <tr>
                    <td>Total Ladders</td>
                    <td>{{ at_ladders }}</td>
                </tr>
                <tr>
                    <td>Total Divisions</td>
                    <td>{{ at_divisions }}</td>
                </tr>
                <tr>
                    <td>Complete Matches</td>
                    <td>{{ at_results }}</td>
                </tr>
                <tr>
                    <td>Unique Players</td>
                    <td>{{ at_players }}</td>
                </tr>
            </table>
        </div>
        <div class="span6">
            <h2>Current Leaders</h2>
            <table id="leader_table" class="table table-condensed">
                <th>Div</th>
                <th>Player</th>
                <th>Total</th>

            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.get('/season/ajax/stats/', { id: {{ current_season.id }}, leader: 1 }, function (data) {
                $('#total_divs').text(data.divisions);
                $('#total_players').text(data.player_count);
                $('#total_matches').text(data.total_games_count);
                $('#total_played').text(data.results_count);
                $('#perc_played').text(data.percentage_played + ' %');

                $.each(data.current_leaders, function (i, item) {
                    $("#leader_table").append("<tr><td>" + item.division + "</td><td><a href='/player/" + item.player_id + "'>" + item.player + "</a></td><td>" + item.total + "</td></tr>");
                })
            });
        });
    </script>
{% endblock %}
