@import url(http://fonts.googleapis.com/css?family=Open+Sans);

a {
font-family: 'Open Sans', sans-serif;
}

a:link { color: #000; text-decoration: none }
a:active { color: #000; text-decoration: none }
a:visited { color: #000; text-decoration: none }
a:hover { color: #ggg; text-decoration: underline }

table.tablesorter
{
	width:100%;
	margin-bottom:20px;
    font-family: 'Open Sans', sans-serif;
}

table.tablesorter td, table.tablesorter th
{
    margin: 0;
    border-width: 1px;
    border-style: solid;
}

table.tablesorter td.score_field {
	min-width:30px;
    text-align: center;
}

table.tablesorter td.player_position {
	width:28px;
}

table.tablesorter td.player_name {
	min-width:200px;
	width:200px;
}

table.tablesorter td.box_grey {
	background-color:grey;
}

td.selectable:hover {
    background-color: #eee;
    cursor: pointer;
}
