{% extends 'base.html' %}
{% block container %}
    <h2>{{ player }} Vs {{ opponent }}</h2>
    <a href="javascript:history.go(-1)">Back</a>
    {% if not results %}
        No results for match up.
    {% else %}
    <h4>Played: {{ stats.played }} Won: {{ stats.won }} Lost: {{ stats.lost }}</h4>
    <div class="span12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Date Added</th>
                <th>Ladder</th>
                <th>Winner</th>
                <th>Result</th>
                <th>Loser</th>
                <th>Result</th>
            </tr>
            </thead>

            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.date_added }}</td>
                    <td><a href="{% url 'ladder' result.ladder.season.start_date|date:"Y" result.ladder.season.season_round result.ladder.division %}">{{ result.ladder }}</a></td>
                    <td>{{ result.opponent }}</td>
                    <td>9</td>
                    <td>{{ result.player }}</td>
                    <td>{{ result.result }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
