{% extends 'base.html' %}
{% load ladder_extras %}

{% block container %}
    <link rel="stylesheet" type="text/css" href="/static/css/theme.ice.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ladder.css" />
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.metadata.js"></script>

    {% spaceless %}
    <h1>{{ season }}</h1>
    <h3>{{ season.start_date }} to {{ season.end_date }}</h3>

    {% for ladder in ladders %}

        <a href="{% url 'ladder:ladder' ladder.season.start_date|date:"Y" ladder.season.season_round ladder.division %}"> Division:  {{ ladder.division }} </a>
        <table cellspacing="1" id="ladderTable{{ ladder.id }}" class="tablesorter ladder-table">
        <thead>
        <tr>
        <th></th><th class="{sorter: false}">Name</th>
        {% for i in ladder.league_set.all %}
            <th class="score_field {sorter: false}"><strong> {{ forloop.counter }} </strong></th>
        {% endfor %}
        <th class="score_field score_total">Total</th>
        </tr>
        </thead>

        <tbody>
        {% for league in ladder.league_set.all %}
            {% with player_counter=forloop.counter %}
                <tr>
                <td class="player_position"><strong> {{ player_counter }} </strong></td>
                <td class="player_name"><span>{{ league.player }}</span></td>
                {% for opponent in ladder.league_set.all %}
                    {% with column_counter=forloop.counter %}
                        {% if column_counter == player_counter %}
                        <td class="box_grey score_field"></td>
                        {% else %}
<td class="score_field">
{% for result in results_dict|getkey:league.player.id %}
{% if league.player.id == result.player.id and opponent.player.id == result.opponent.id %}
{% if result.inaccurate_flag %}
<span style="color:red; font-weight: bold"> {{ result.result }} *</span>
<script type="text/javascript">
$('.score_error').show();
</script>
{% else %}
{{ result.result }}
{% endif %}
{% endif %}
{% endfor %}
</td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        <td class="score_field score_total"> {{ results_dict|gettotal:league.player.id }} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}
    {% endspaceless %}
    <span class="score_error" style="color:red; font-weight: bold;">* Flagged as inaccurate, please double check physical copy.</span>
    <script type="text/javascript">
        $(document).ready(function()
            {
                $(".ladder-table").tablesorter({
                    theme: 'ice'
                });
            }
        );
    </script>
{% endblock %}