{% extends 'base.html' %}
{% load ladder_extras %}

{% block container %}
    <link rel="stylesheet" type="text/css" href="/static/css/ladder.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/theme.ice.css" />
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.metadata.js"></script>

    <h1>{{ season.name }}</h1>

    {% for ladder in ladders %}

        <a href="{% url 'ladder:ladder' ladder.id %}"> Division:  {{ ladder.division }} </a>
        <table cellspacing="1" id="ladderTable{{ ladder.id }}" class="tablesorter ladder-table">
        <thead>
        <tr>
        <th></th><th class="{sorter: false}">Name</th>
        {% for i in ladder.league_set.all %}
            <th class="score_field {sorter: false}"><strong> {{ forloop.counter }} </strong></th>
        {% endfor %}
        <th class="score_field">Total</th>
        <!--<th class="score_field {sorter: false}">Div</th>
        <th class="score_field {sorter: false}" >Played</th>
        <th class="score_field {sorter: false}">Won</th>
        <th class="score_field {sorter: false}">Total</th>-->
        </tr>
        </thead>

        <tbody>
        {% for league in ladder.league_set.all %}
            {% with player_counter=forloop.counter %}
                <tr>
                <td class="player_position"><strong> {{ player_counter }} </strong></td>
                <td class="player_name"> {{ league.player }} </td>
                {% for opponent in ladder.league_set.all %}
                    {% with column_counter=forloop.counter %}
                        {% if column_counter == player_counter %}
                        <td class="box_grey score_field"></td>
                        {% else %}
                        <td class="score_field">

                            {% for result in results_dict|getkey:league.player.id %}

                                {% if league.player.id == result.player.id and opponent.player.id == result.opponent.id %}
                                    {{ result.result }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        <td class="score_field"> {{ results_dict|gettotal:league.player.id }} </td>
        <!--<td class="score_field"> {{ prev_results_dict|getkey:league.player.id|getkey:'div' }}</td>
        <td class="score_field"> {{ prev_results_dict|getkey:league.player.id|getkey:'played' }}</td>
        <td class="score_field"> {{ prev_results_dict|getkey:league.player.id|getkey:'won' }}</td>
        <td class="score_field"> {{ prev_results_dict|getkey:league.player.id|getkey:'total' }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function()
            {
                $(".ladder-table").tablesorter({
                    theme: 'ice'
                });
            }
        );
    </script>
{% endblock %}