{% extends 'base.html' %}
{% block container %}

    <a href="javascript:history.go(-1)">Back</a>

    <h1>{{ player }}</h1>
    <div class="row">
        <div class="span2"><h4>Played: {{ player.player_stats.played }}</h4></div>
        <div class="span4"><h4>Completion Rate: {{ player.player_stats.completion_rate }}</h4></div>
        <div class="span3"><h4>Win Rate: {{ player.player_stats.win_rate }}</h4></div>
        <div class="span3"><h4>Avg. Points: {{ player.player_stats.average }}</h4></div>
    </div>

    <h2>Head-to-Head</h2>

    <div class="span12">
        <table cellspacing="1" id="head-table" class="table table">
            <thead>
            <tr>
                <th>Player</th>
                <th>Times Played</th>
                <th>Last Played</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for h in head %}
                <tr>
                    <td>{{ h.opponent__first_name }} {{ h.opponent__last_name|slice:":1" }}.</td>
                    <td>{{ h.times_played|floatformat:"0" }}</td>
                    <td>{{ h.last_played }}</td>
                    <td><a href="{% url 'head_to_head' player.id h.opponent %}">More Detail</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tr>
                <td>
                    <form class="pull-left input-append" id="h2h_form">
                        <input id="h2h-search" type="text" name="player_name" placeholder="Not in list? Search Rival"
                               data-provide="typeahead"
                               autocomplete="off">
                        <button id="h2h_button" type="submit" disabled="disabled" class="btn">More Details</button>
                    </form>
                </td>
            </tr>
        </table>

        <script type="text/javascript">
            (function () {
                var timeout;

                $('#h2h-search').typeahead({
                    source: function (query, process) {
                        labels = [];
                        mapped = {};
                        if (timeout) {
                            clearTimeout(timeout);
                        }
                        timeout = setTimeout(function () {
                            return $.get('/player/h2h/{{ player.id }}/', { query: query }, function (data) {
                                $.each(data.options, function (id, player) {
                                    mapped[player] = id;
                                    labels.push(player);
                                });
                                process(labels);
                            });
                        }, 300);
                    },
                    updater: function (query_label) {
                        var id = mapped[query_label];
                        $('#h2h_form').attr('action', '/head_to_head/{{ player.id }}/vs/' + id + '/');
                        $('#h2h_button').removeAttr("disabled");

                        return query_label;
                    },
                });
            })();
        </script>
    </div>

    <h2>History</h2>
    <div class="span12">
        <table cellspacing="1" id="seasons-table" class="table">
            <thead>
            <tr>
                <th>Ladder</th>
                <th>Perc. Played</th>
                <th>Total Points</th>
                <th>Matches</th>
                <th>Won</th>
                <th>Avg. Points</th>
            </tr>
            </thead>

            <tbody>
            {% for league in league_set %}
                <tr>
                    <td><a href="{% url 'ladder' league.ladder.season.start_date|date:"Y" league.ladder.season.season_round league.ladder.division %}"> Division:  {{ league.ladder }} </a></td>
                    <td>{{  league.player_stats.percplayed|floatformat:"2"}} %</td>
                    <td>{{ league.player_stats.total_points|floatformat:"0" }}</td>
                    <td>{{ league.player_stats.games|floatformat:"0" }}</td>
                    <td>{{ league.player_stats.won_count }}</td>
                    <td>{{ league.player_stats.pointsdivgames|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}