{% extends 'base.html' %}
{% load ladder_extras %}
{% load static %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{% static "css/theme.ice.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/ladder.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.tablesorter.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.metadata.js" %}"></script>

<script type="text/javascript">
var can_submit = false;
$(document).ready(function()
    {
        $("#ladderTable").tablesorter({
            theme: 'ice'
        });

        $(".selectable").click(function (e) {
            var player = $(this).attr('data-player');
            var opponent = $(this).attr('data-opp');


            if ($('.score_field').find('.loser_input').length && !$(this).find('.loser_input').length) {
                $('.loser_input').remove();
            }

            if (!$(this).find('.loser_input').length) {
                $(this).append("<input type='number' class='loser_input' onKeyUp='updateForm();' min='0' max='8' />");
            }

            $('[name=player]').val(player);
            $('[name=opponent]').val(opponent);
            e.preventDefault();

            $('.loser_input').focus()

            return false;

        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                if(can_submit){
                    $('#add_result_form').submit();
                }
            }
        });

        $(".selectable").hover(function () {
            opponentSelector(this).css("background-color", "#eee")
        }, function () {
            opponentSelector(this).css("background-color", "");
        });

    }
);

function opponentSelector(element) {
    return $('td[data-player=' + $(element).data('opp') + '][data-opp=' + $(element).data('player') + ']');
}

function updateForm() {
    var l_score = $('.score_field input').val();
    $('#id_result').val(l_score);
    can_submit = true;

}

</script>
<h1> {{ ladder }} </h1>
<h3>{{ ladder.season.start_date }} to {{ ladder.season.end_date }}</h3>

<div class="add_navigation">
    {% if previous_ladder %}
        <a href="{% url 'add' ladder.season.start_date|date:"Y" ladder.season.season_round previous_ladder.division %}">Previous</a>
    {% endif %}
    {% if next_ladder %}
        <a href="{% url 'add' ladder.season.start_date|date:"Y" ladder.season.season_round next_ladder.division %}">Next </a>
    {% endif %}
</div>

	<table id="ladderTable" class="tablesorter">
        <thead>
       	    <tr>
                <th></th>
                <th class="{sorter: false}">Name</th>
                {% for i in ladder.league_set.all %}
                    <th class="score_field {sorter: false}"><strong> {{ forloop.counter }} </strong></th>
                {% endfor %}
                <th class="score_field">Total</th>
            </tr>
        </thead>

       <tbody>
        {% for league in ladder.league_set.all %}
            {% with player_counter=forloop.counter %}
                <tr>
                    <td class="player_position"><strong> {{ player_counter }} </strong></td>
                    <td class="player_name"> {% get_player_name league.player user %}</td>
                        {% for opponent in ladder.league_set.all %}
                            {% with column_counter=forloop.counter %}
                                {% if column_counter == player_counter %}
                                    <td class="box_grey score_field"></td>
                                {% else %}
                                    <td class="score_field selectable"  data-player="{{ league.player.id }}" data-opp="{{ opponent.player.id }}">
                                    {% for result in results_dict|getkey:league.player.id %}
                                        {% if league.player == result.player and opponent.player == result.opponent %}
                                           {% if result.inaccurate_flag %}
                                                <span style="color:red; font-weight: bold"> {{ result.result }} *</span>
                                                <script type="text/javascript">
                                                    $('.score_error').show();
                                                </script>
                                            {% else %}
                                                {{ result.result }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}

                    <td class="score_field"> {{ results_dict|gettotal:league.player.id }} </td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    <form id="add_result_form" action="{% url 'add' ladder.season.start_date.year ladder.season.season_round ladder.division %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Result"/>
    </form>

{% endblock %}
