{% load ladder_extras %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ladder.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" ></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/jquery.metadata.js"></script>

<script type="text/javascript">
$(document).ready(function()
    {
        $(".tablesorter").tablesorter();
    }
);

</script>



<h1> {{ ladder }} </h1>

	<table cellspacing="1" id="ladderTable{{ ladder.id }}" class="tablesorter">
    <thead>
	<tr>
    <th></th><th class="{sorter: false}">Name</th>
	{% for i in ladder.players.all %}
		<th class="score_field {sorter: false}"><strong> {{ forloop.counter }} </strong></th>
	{% endfor %}
    <th class="score_field">Total</th>
	</tr>
    </thead>

   <tbody>
	{% for player in ladder.players.all %}
		{% with player_counter=forloop.counter %}
			<tr>
			<td class="player_position"><strong> {{ player_counter }} </strong></td>
			<td class="player_name"> {{ player }} </td>
			{% for opponent in ladder.players.all %}
				{% with column_counter=forloop.counter %}
					{% if column_counter == player_counter %}
					<td class="box_grey score_field"></td>
					{% else %}
					<td class="score_field">
						{% for result in results_dict|getkey:player.id %}
							{% if player == result.player and opponent == result.opponent %}
								{{ result.result }}
							{% endif %}
						{% endfor %}
					</td>
					{% endif %}
				{% endwith %}
			{% endfor %}
		{% endwith %}
    <td class="score_field"> {{ results_dict|gettotal:player.id }} </td>
    </tr>
	{% endfor %}